# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = false

# PHP files
[*.php]
indent_style = space
indent_size = 4
max_line_length = 150

# JavaScript files
[*.js]
indent_style = space
indent_size = 2

# CSS files
[*.css]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
insert_final_newline = false

# Configuration files
[*.{xml,neon}]
indent_style = space
indent_size = 4
